.blog {
  background-color: var(--dark-bg);
  padding: 60px 80px;
}
.add__postbtn {
  font-size: 18px;
  font-weight: 500;
  background-color: var(--gray-1);
  border: 2px solid var(--gray-1);
  color: var(--black);
  transition: 0.4s all ease;
  height: 50px;
  width: 180px;
  margin-bottom: 20px;
}
