.contact__banner__style {
  background-color: var(--dark-bg);
  padding: 40px 0;
  display: flex;
  justify-content: center;
}
.contactBanner__wrapper {
  background-color: var(--deep-dark);
  border-radius: 12px;
  padding: 5rem 0rem;
  text-align: center;
  max-width: 100%;
  width: 1000px;
}
.contactBanner__heading {
  font-size: 30px;
  font-weight: 700;
  color: var(--gray-1);
  line-height: 20px;
}
.project__mind {
  font-size: 14px;
  color: var(--gray-1);
}
@media only screen and (max-width: 768px) {
  .contactBanner__heading {
    font-size: 20px;
  }
}
