.container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.hero_content {
  position: relative;
  padding: 125px 40px;
  max-width: 550px;
  width: 100%;
  z-index: 1;
}
.hero_meta {
  background: var(--black-rgb);
  padding: 20px 45px;
  border-radius: 8px;
}
.title-text {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 31px;
  color: var(--pink-red) !important;
}
.name_text {
  font-size: 35px;
  line-height: 20px;
  font-weight: 700;
  font-family: Montserrat, sans-serif;
}
.info-text {
  font-size: 14px;
  line-height: 31px;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  color: var(--gray);
}
